__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.DS_Store
*.so
*.pyd
*.o
*.ninja_deps
*.ninja_log
.ninja_deps
.ninja_log
result/
results/
pretrained/
*.log
*.pt
*.pth
/data/
extensions/pointops/src/lock
